*{
    margin: 0;
    padding: 0;
    background-color: #AAAAAA;
    font-family: 'Poppins', sans-serif;

}
.header-nav{
    display: flex;
    justify-content: space-between;
}
.nav-title{
    color: #3A3A3A;
    width: 443px;
    height: 53px;
    font-size: 24px;
    font-weight: 700;
    margin-top: 87px;
    margin-left: 120px;
}
.nav-menu{
    width: 463px;
    height: 36px;
}
.menu{

}
.menu li{
    display: inline-block;
    margin: 0 20px;
}
.icon{
    
}